:root {
  --gridRows: 8;
  --gridColumns: 8;
  background-color: #181818;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading {
  color: red;
  font-family: Lobster;
  font-size: 3em;
  margin: 0 auto;
}

.info {
  color: orange;
  font-family: cursive;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #43b1fd;
  background-color: #181a1b;
  border: 2px solid #008cff;
  width: 250px;
  padding: 25px;
  gap: 35px;
}

.box1,
.box2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.colourCard {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input[type="color"] {
  -webkit-appearance: none;
  height: 5vh;
  width: 5vw;
  border: 2px solid #008cff;
  border-radius: 3px;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.colourText {
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-btn {
  background-color: #181a1b;
  color: #43b1fd;
  padding: 10px 10px;
  border: 1px solid #05589f;
  outline: none;
  transition: transform ease 300ms;
  cursor: pointer;
  text-align: center;
}

button:hover {
  transform: translate(0, -10px);
}

.grid {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  grid-template-rows: repeat(var(--gridRows), 1fr);
}

.cell {
  border: 1px solid black;
  background-color: white;
}
